{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title  %} Add Task {% endblock title  %}
{% block content %}

{% comment %} <div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        {{ photo_form|crispy }}
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>
    
</div> {% endcomment %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 offset-md-0">
            <div class="border bg-white p-3">
                <h2>Create Task</h2>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ photo_form|crispy }}
                    <button type="submit" class="btn btn-primary">Create Task</button>
                </form>
                
             
            </div>
        </div>
    </div>
</div>




{% endblock content %}