{% extends "base.html" %}


{% block title  %} Send Reset Password Email {% endblock title  %}

{% block content %}



<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Password Reset Done</h3>
                <hr>
                <div class="aleart alert-danger p-2">
                    <h4>An email Has been Sent to Your Provided Email Account. It has instruction to reset your password </h4>
                   
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}
